/* 로고 */

.main-logoson {
  width: 300px;
  margin-top: 20px;
  margin-left: 20px;
  margin-bottom: 20px;
  cursor: pointer;
}

.commu-comment {
  width: 95%;
  max-width: 900px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

/* 댓글창 */
.commu-leavecmt {
  width: 100%;
  height: 100%;
  display: inherit;
  flex-direction: row;
  justify-content: inherit;
  align-items: inherit;
  margin-top: 20px;
}

.commu-leavecmt img {
  border-radius: 50%;
  margin-right: 30px;
}

.cmtUserName {
  border: 1px solid pink;
  margin-right: 20px;
}

.commu-user {
  display: inherit;
  flex-direction: row;
  justify-content: inherit;
  align-items: inherit;
}

.cmt-leaveBtn {
  margin-left: 20px;
}

.leaveBtn {
  background-color: transparent;
  border-radius: 30px;
  padding: 10px;
  cursor: pointer;
}

.leaveBtn:hover {
  background-color: black;
  color: white;
}

/* 댓글 불러오기 */

.commu-commentCard {
  width: 95%;
  max-width: 1200px;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.comment-user {
  width: 100%;
  display: inherit;
  flex-direction: row;
  justify-content: inherit;
  align-items: inherit;
}

.comment-user img {
  border-radius: 50%;
  margin-right: 20px;
}

.commentText {
  border: 1px solid black;
  border-radius: 30px;
  padding: 5px 10px;
  margin-right: 20px;
}

/* 댓글 수정, 삭제 */
.updateBtns {
  display: flex;
  justify-content: end;
  margin-top: 5px;
  margin-bottom: 5px;
  gap: 5px;
}

/*.noDisplay {
  display: none;
} */
.updateBtn {
  color: black;
}
.newCmtInput {
  margin-top: 400px;
  width: 100%;
  display: block;
  background-color: white;
}
