.main-logoson {
  width: 300px;
  margin-top: 20px;
  margin-left: 20px;
  margin-bottom: 20px;
  cursor: pointer;
}

.mypic {
  width: 80%;
  height: 360px;
  box-shadow: 0px 0px 3px 0px gray;
  position: relative;
  left: 180px;
  background-color: rgba(102, 163, 173, 0.8);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
}
.font {
  position: relative;
}
.font > p {
  position: absolute;
  right: 810px;
  top: -100px;
}

/* .back {
  position: relative;
}
.back > button {
  position: absolute;
  right: 680px;
  top: -95px;
  border: none;
  outline: none;
  color: black;
  font-size: 25px;
  background-color: transparent;
  font-size: 50px;
}
.viewmore {
  position: relative;
}
.viewmore > .menu > h1 {
  font-size: 80px;
}

label.menu {
  border: none;
  padding: 10px;
  position: absolute;
  left: 630px;
  top: -205px;
}

input#menu {
  display: none;
}
nav#main_nav {
  display: none;
}
input#menu:checked + nav#main_nav {
  display: block;
}

.delete > .revicebtn > button {
  text-decoration: none;
  color: black;
  border: none;
  background-color: rgba(234, 239, 240, 0.8);
  border-radius: 20px;
  padding-bottom: 20px;
}
.delete > .revicebtn > button:hover {
  border: 2px solid gray;
  box-shadow: 1px 1px 2px gray;
}
.delete > .revicebtn > button > p {
  border-radius: 50px;
  border: none;
  width: 110px;
  height: 10px;
  font-size: 20px;
}
.delete > .deletebtn > button {
  color: black;
  border: none;
  background-color: rgba(234, 239, 240, 0.8);
  border-radius: 20px;
  padding-bottom: 20px;
}
.delete > .deletebtn > button:hover {
  border: 2px solid gray;
  box-shadow: 1px 1px 2px gray;
}
.delete > .deletebtn > button > p {
  border-radius: 50px;
  border: none;
  width: 110px;
  height: 10px;
  font-size: 20px;
}
.delete {
  position: relative;
}

.delete > .revicebtn {
  position: absolute;
  top: -20px;
  left: 610px;
}
.delete > .deletebtn {
  position: absolute;
  top: 55px;
  left: 610px;
} */
/* 
.mypost {
  width: 80%;
  box-shadow: 0px 0px 3px 0px gray;
  background-color: rgba(220, 230, 231, 0.8);
  position: relative;
  left: 180px;
  height: 460px;
} */

.image-2 {
  position: relative;
}
.image-2 > img {
  position: absolute;
  top: 260px;
  left: 180px;
  border-radius: 50%;
}

.image-2 .cmtUserName {
  position: absolute;
  top: 280px;
  left: 235px;
}

.comment-1 {
  position: relative;
}
.comment-1 > textarea {
  position: absolute;
  top: 260px;
  left: 300px;
}
.btn-1 {
  position: relative;
}
.btn-1 > button {
  position: absolute;
  top: 250px;
  left: 820px;
  background-color: white;
  border-radius: 50px;
  border: none;
  width: 150px;
  height: 50px;
  padding-right: 10px;
  font-size: 15px;
}
.btn-1 > button:hover {
  border: 2px solid gray;
}

/* comments */
.mycards {
  width: 95%;
  max-width: 500px;
  margin: auto;
}

.mycards > .card {
  margin-top: 10px;
  margin-bottom: 10px;
}

.updateBtns {
  display: flex;
  justify-content: end;
  margin-top: 5px;
  gap: 5px;
}

.noDisplay {
  display: none;
}
.updateBtn {
  min-width: 70px;
}
.newCmtInput {
  width: 100%;
}
.cmtImg {
  border-radius: 50%;
  margin-right: 10px;
}
.quote-footer {
  margin-top: 20px;
  color: #6c757d;
  font-size: 0.875rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* feed page  */

.post-areason {
  background-color: lightsteelblue;
  width: 700px;
  margin: 0px auto;
  padding: 20px;
}

.myFeed {
  background-color: lightsteelblue;
  width: 700px;
  margin: 0px auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.myFeed .postBox {
  width: 100%;
  height: 100%;
}

/* 포스팅 사진 */
.onePostPic {
  width: 100%;
  height: 100%;
}

.onePostPic img {
  width: 95%;
  max-width: 800px;
  height: 400px;
  object-fit: cover;
}

.updatePostBtn {
  display: flex;
  justify-content: end;
  margin-top: 5px;
  gap: 5px;
}

.editPostBtn {
  width: 100px;
  height: 100px;
}

.deletePostBtn {
  width: 100px;
  height: 100px;
}

/* user 프로필, 포스팅 내용 */
.allPostingBox {
  width: 95%;
  max-width: 800px;
  height: 100%;
  display: inherit;
  flex-direction: row;
  justify-content: inherit;
  align-items: inherit;
}

.postUserBox {
  width: 30%;
  height: 200px;
  display: inherit;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.userProfile img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 10px;
}

.postUserName {
  font-size: large;
}

.postCmtBox {
  width: 70%;
  height: 100%;
  display: inherit;
  flex-direction: column;
  justify-content: inherit;
  align-items: inherit;
}

.postContentBox {
  width: 100%;
  height: 100%;
  display: inherit;
  flex-direction: row;
  justify-content: left;
  align-items: left;
}

.onePostAt {
  margin: 20px 10px;
}
