* {
  font-family: "Roboto", sans-serif;
  font-family: "Jua", sans-serif;
  text-decoration: none;
}

/* 헤더 고정하기 */

/* login-menu */

.postcards {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

.postpic {
  border-radius: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}
