/* 메인 배경색 지정 */
#root {
  background-color: #dfd1c6;
}

/* main.css */
.logHead-Jeong {
  width: 95%;
  max-width: 1200px;
  height: 200px;
  position: relative;
  margin-left: 20px;
  margin-bottom: 20px;
  padding-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

/* loginBtn */
.logBtn-Jeong {
  width: 130px;
  height: 45px;
  cursor: pointer;
  background-color: transparent;

  margin-right: 30px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  font-size: 15px;
  padding: 15px 20px;
  background-color: white;
  color: black;

  border: 2px solid black;
  border-radius: 30px;
  letter-spacing: 4px;
  position: relative;
}

.logBtn-Jeong:focus {
  outline: none;
}

.logBtn-Jeong:hover {
  background-color: black;
  color: white;
  transition: 1s;
}

/*  nav */
* nav {
  font-size: 1.2rem;

  flex-direction: row;
  align-items: flex-start;
}

.nav-Jeong {
  width: 95%;
  min-width: 700px;
  text-decoration: none;
  display: absolute;
  padding: 20px;
  margin-bottom: 50px;

  color: black;

  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

/* category */

.workout-Jeong,
.study-Jeong,
.book-Jeong {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.workoutDesc-Jeong,
.studyDesc-Jeong,
.bookDesc-Jeong {
  margin-top: 10px;
  display: none;
}

#allNav-Ys:hover {
  text-shadow: 2px 2px 2px rgb(182, 182, 182);
  cursor: pointer;
}
#workout-Ys:hover {
  text-shadow: 2px 2px 2px rgb(182, 182, 182);
  cursor: pointer;
}
#study-Ys:hover {
  text-shadow: 2px 2px 2px rgb(182, 182, 182);
  cursor: pointer;
}

#book-Ys:hover {
  text-shadow: 2px 2px 2px rgb(182, 182, 182);
  cursor: pointer;
}

#community-Ys:hover {
  text-shadow: 2px 2px 2px rgb(182, 182, 182);
  cursor: pointer;
  color: black;
}

/* 카테고리 선택 전에는 글자 안뜸 */

.workout-Jeong:hover .workoutDesc-Jeong {
  display: block;
  opacity: 50%;
}

.study-Jeong:hover .studyDesc-Jeong {
  display: block;
  opacity: 50%;
}

.book-Jeong:hover .bookDesc-Jeong {
  display: block;
  opacity: 50%;
}

/* 글자뜨기 */

.allNav-Jeong > a {
  color: black;
}
.community-Jeong > a {
  color: black;
}
/* 카테고리 폰트 컬러 검은색으로 */

#workout-Ys,
#study-Ys,
#book-Ys {
  color: black; /* 카테고리 폰트 컬러 검은색으로 */
  margin-left: 50px;
  margin-right: 50px;
}

.allNav-Jeong,
.community-Jeong {
  display: flex;
  align-items: flex-start;
  margin-left: 50px;
  margin-right: 50px;
}

/* 카테고리 간격맞추기!!! */

/* 커뮤니티버튼 a 태그 css 변경 */

.community-Jeong a {
  text-decoration: none;
  color: black;
}

#community-Ys:focus {
  text-decoration: none;
}

/* loginmain.css */
.usersAll {
  /* width: 100px; */
  height: 150px;
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: center;
}

.navBtn-Ys {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.user-Ys Img {
  position: relative;
  border-radius: 50%;
  margin-left: 30px;
}

.usersAll label {
  cursor: pointer;
}

#profileBtn-Ys > ul {
  position: absolute;
  list-style: none;
  top: 160px;
  right: -24px;
}

#userNav-Ys {
  display: none;
}

#profileBtn-Ys {
  display: none;
}

#userNav-Ys:checked + #profileBtn-Ys {
  display: block;
}

#profileBtn-Ys a {
  text-decoration: none;
}

.fa-user,
.fa-pen-to-square {
  font-size: xx-large;
}

.goToHome {
  cursor: pointer;
  background-color: transparent;
  border: none;
  color: black;
  font-size: 35px;
  position: absolute;
  top: -20px;
  left: -37px;
}

.goToMyPost {
  cursor: pointer;
  background-color: transparent;
  border: none;
  color: black;
  font-size: 35px;
  position: absolute;
  top: 30px;
  left: -37px;
}

/* login modal */

.modal-overlay {
  display: none;
}

/*뒷배경 */
#profileAll {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  background: rgba(145, 138, 138, 0.8); /*배경색 넣는방법 */
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37); /*그림자 효과 넣는방법 */
  backdrop-filter: blur(2.5px); /*필터넣는방법 이거쓰시면 됩니다. */
  -webkit-backdrop-filter: blur(2.5px);
  border-radius: 10px; /*테두리 둥글게 하기 */
  border: 1px solid rgba(255, 255, 255, 0.18);
  /*테두리 두껍게 설정 */
}

/*프로필 관리창 */
.profileBox {
  border-radius: 10px;
  background-color: rgba(224, 220, 215, 0.911);
  box-shadow: 0 8px 32px 0 rgba(101, 104, 150, 0.37);
  border: 1px solid rgba(255, 255, 255, 0.18);
  width: 95%;
  max-width: 600px;
  height: 500px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#profileBtnEdit {
  cursor: pointer;
  background-color: transparent;

  font-size: 30px;
  padding: 15px 30px;
  background-color: white;
  color: rgb(209, 188, 188);

  border: none;
  border-radius: 30px;
  letter-spacing: 10px;

  margin-top: 20px;
  margin-bottom: 40px;
}

#profileBtnEdit:focus {
  outline: none;
}

#profileBtnEdit:hover {
  /*프로필 변경 버튼 호버*/
  background-color: rgb(209, 188, 188);
  color: white;
  transition: 1s;
}

#profileView {
  cursor: pointer;
  border-radius: 50%;
  object-fit: cover;
  width: 300px;
  height: 300px;
  margin-bottom: 30px;
}

.fa-xmark {
  position: relative;
  top: 25px;
  right: 15px;
  font-size: 50px;
  cursor: pointer;

  color: rgb(253, 241, 241);
  transition: all;
  padding-left: 435px;
}

.fa-xmark:active {
  transform: translateY(10px);
}

#imgInput {
  display: none;
}

#nickname {
  /* bottom: 50px;
  right: 110px; */
  border: none;
  padding: 10px;
  /* width: 200px; */
  /* font-size: 20px; */
  /* margin: 0 auto; */
}

.nickEdit {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* 게시물  CSS */

#main-page {
  width: 95%;
  max-width: 1200px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-top: 80px;
  margin-left: 50px;
}

/* 게시물 글 안에 배경색 */
.postingBox {
  border-radius: 5px;
  padding: 15px;
  background-color: white;
  margin-right: 50px;
  margin-bottom: 50px;
  box-shadow: 3px 3px 3px gray; /*그림자 색이나 효과 바꾸세요 여기서 */
}
/* 타이틀 텍스트 글자 크기 */
.postTitle {
  margin: 15px 10px 15px 10px;
  font-size: 23px;
}
/* 글자 크기 조금 더 크게함*/
.postContent {
  margin: 10px 10px 20px 10px;
  font-size: 17px;
}
/* 이미지 크기  */
.myProfileImg {
  border-radius: 50%;
}
/* 닉네임 크기 위치 조정 */
.nameSim {
  margin: auto 0 auto 15px;
  font-size: 17px;
}

.postAt {
  font-size: 13px;
  margin-right: 13px;
}
.profileWrap {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: auto 0 auto 0;
  margin: 10px;
}

.profile-dateWrap {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

/* .postingBox:hover > .postPicImg {
  width: 400px;
  height: 400px;
} */
.postPic {
  border-radius: 5px;
  margin-bottom: 15px;
  width: 370px;
  height: 300px;
  overflow: hidden;
  position: relative;
}

.postPicImg {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(50, 50);
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.postcards {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.welcomeyunsr {
  width: 95%;
  min-width: 100px;
}

/* .logBtn-Jeong {
  width: 95%;
  min-width: 300px;
} */
