.mypic-1 {
    width: 20%;
    height: 200px;
    box-shadow: 0px 0px 3px 0px gray;
    position: relative;
    left: 180px;
    background-color: rgba(102, 163, 173, 0.8);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
  }
  .font {
    position: relative;
  }
  .font >p {
    position: absolute;
    right: 810px;
    top: -100px;
  }



  .mypost-1 {
    width: 20%;  
    box-shadow: 0px 0px 3px 0px gray;
    background-color: rgba(220, 230, 231, 0.8);
    position: relative;
    left: 180px;
    height: 250px;
  }
  
  .mypost > button {
    margin-top: 15px;
  }