/* auth.css */
.main-logoson {
  width: 300px;
  margin-top: 20px;
  margin-left: 20px;
  margin-bottom: 20px;
  cursor: pointer;
}

#modal.modal-overlay {
  /*전체화면 시작 */
  width: 100%;
  height: 100%;
  /* position: absolute; */
  position: fixed;
  left: 0;
  top: 0;
  display: flex; /*여기서부터 3줄까지 웹개발종합반에서 나온거 */
  align-items: center;
  justify-content: center;

  background: rgba(145, 138, 138, 0.8); /*배경색 넣는방법 */
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37); /*그림자 효과 넣는방법 */
  backdrop-filter: blur(2.5px); /*필터넣는방법 이거쓰시면 됩니다. */
  -webkit-backdrop-filter: blur(2.5px);
}

#modal .modal-window {
  /*로그인 버튼 누르면 뜨는 화면 */

  background: rgba(245, 243, 241, 0.863);
  box-shadow: 0 8px 32px 0 rgba(101, 104, 150, 0.37);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  width: 500px;
  height: 500px;
  position: relative; /*이거 없어도 잘 작동되긴하는데 왜있는지 모르겠음 */
  padding: 10px;
}

#modal .title {
  /*로그인 스타일 */
  padding-left: 10px;
  display: inline-block; /*이거 지우면 x자 위치가 바뀜 왜그럴까 */
  text-shadow: 1px 1px 2px gray;
  color: black;
  margin-left: 190px;
}

#modal .title p {
  /*로그인 스타일 */
  display: inline-block;
  font-size: 30px;
  letter-spacing: 8px;
}

#modal .close-area {
  /* x 스타일 */
  float: right;
  padding-right: 10px;
  cursor: pointer; /*이거 쓰면 커서 손모양으로 바뀜 굿 */
  text-shadow: 1px 1px 2px gray;
  color: black;
}

#modal .content {
  /*로그인폼 전체 스타일 지워도 잘 못느끼겠음 */
  margin-top: 20px;
  padding: 0px 10px;
  text-shadow: 1px 1px 2px gray;
  color: black;
}
.text-field {
  /*이메일 폼과 비멀번호 폼 스타일 */
  width: 400px;
  font-size: 20px;
  margin-bottom: 25px;
  border: none;
  border-radius: 5px;
  padding: 20px;
  margin-left: 15px;
}

/* 윤숙 - 로그인 감싸는 div삭제 후 input id로 클래스 변경 후 적용 */
#loginBtn {
  /*로그인 버튼 스타일*/
  background-color: white;
  border-radius: 50px;
  border: none;
  width: 150px;
  height: 50px;
  padding-right: 10px;
  font-size: 15px;
  position: absolute;
  left: 180px;
}

#loginBtn:hover {
  border: 2px solid gray;
}

.socialbuttons {
  /*버튼묶음 스타일 */
  position: relative;
  text-align: center;
  margin-top: 40px;
}
.github-btn {
  position: absolute;
  top: 30px;
  left: -5px; /*깃 버튼 스타일 */
  background-color: white;
  border-radius: 50px;
  border: none;
  width: 150px;
  height: 50px;
  padding-right: 10px;
  font-size: 15px;
  text-align: right;
}
.twitter-btn {
  position: absolute;
  top: 30px;
  left: 160px; /*트위터 버튼 스타일 */
  background-color: white;
  border-radius: 50px;
  border: none;
  width: 150px;
  height: 50px;
  padding-right: 10px;
  font-size: 15px;
  text-align: right;
}
.google-btn {
  position: absolute;
  top: 30px;
  right: 0px; /*구글 버튼 스타일 */
  background-color: white;
  border-radius: 50px;
  border: none;
  width: 150px;
  height: 50px;
  padding-right: 10px;
  font-size: 15px;
  text-align: right;
}
.logos {
  /*로고들 묶어줌*/
  position: relative;
}
.github-logo {
  /*깃헙 로고 위치 조정*/
  position: absolute;
  bottom: -75px;
  left: 3px;
}
.twitter-logo {
  /*트위터 로고 위치 조정*/
  position: absolute;
  top: 40px;
  left: 170px;
}
.google-logo {
  /*구글 로고 위치 조정*/
  position: absolute;
  top: 40px;
  left: 340px;
}
.github-btn:hover {
  /*이거 hover 왜 다 따로 설정해야하지 한꺼번에 설정 안되나*/
  border: 2px solid gray;
}
.twitter-btn:hover {
  border: 2px solid gray;
}
.google-btn:hover {
  border: 2px solid gray;
}

/* 윤숙 - 주석 처리 */
/* a {
      /*회원가입 글자 스타일*/
/* text-decoration: none;
      color: blue;}  */

#authToggle {
  color: blue;
  margin: 10px 0;
  cursor: pointer;
  user-select: none;
}

.lastline {
  position: relative; /*버튼 아래 글자들 스타일*/
  text-align: center;
  margin-top: 60px;
}
.lastline > p {
  position: absolute;
  top: 80px;
  left: 120px;
}

/* 11p- feed css */

.title_feed {
  margin-bottom: 700px;
  margin-right: 30px;
}

.btn_feed {
  background-color: skyblue;
  width: 1000px;
  height: 400px;
}

.input_feed {
  background-color: gray;
  width: 1000px;
  height: 400px;
}

.photo_feed {
  background-color: antiquewhite;
  width: 200px;
  height: 400px;
}

#login-modal {
  display: none;
}

/* community.css */
/* 로고 */

.main-logoson {
  width: 300px;
  margin-top: 20px;
  margin-left: 20px;
  margin-bottom: 20px;
  cursor: pointer;
}

/* .commu-comment {
    width: 95%;
    max-width: 800px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  } */

/* 댓글창 */
.commu-comment {
  width: 700px;
  margin: 20px auto;

  box-shadow: 0px 0px 3px 0px black;
  padding: 20px;
}

.community-leaveCmt {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.commu-user {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: left;
}

#cm-profileImg {
  border-radius: 50%;
}

#community-nickname {
  padding: 20px;
  font-size: large;
}

.leaveBtn {
  background-color: transparent;
  border-radius: 30px;
  padding: 10px;
  cursor: pointer;
  margin-left: 10px;
}

.leaveBtn:hover {
  background-color: black;
  color: white;
  transition: 1s;
}

/* 댓글 불러오기 */
.mycards {
  width: 95%;
  max-width: 500px;
  margin: auto;
}

.mycards > .card {
  border-radius: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.cmtCards {
  width: 95%;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.card {
  width: 95%;
  max-width: 1200px;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.card-body {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cmt-img {
  border-radius: 50%;
  margin-right: 20px;
}

.commentText {
  border: 1px solid black;
  border-radius: 30px;
  padding: 5px 10px;
  margin-right: 20px;
}

.cmtImg {
  border-radius: 50%;
  margin-right: 10px;
}

.quote-footer {
  margin-top: 20px;
  color: #6c757d;
  font-size: 0.875rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.quote-footer span {
  font-size: large;
  color: black;
}

/* 댓글 수정, 삭제 */
.updateBtns {
  display: flex;
  justify-content: end;
  margin-top: 5px;
  gap: 5px;
}

.noDisplay {
  display: none;
}
.updateBtn {
  min-width: 70px;
  border-radius: 30px;
  margin-left: 10px;
}

.updateBtn:hover {
  background-color: black;
  color: white;
  transition: 1s;
}

.newCmtInput {
  width: 100%;
  border-color: pink;
}

.editBtn,
.deleteBtn {
  background-color: transparent;
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
}

.editBtn:hover {
  background-color: black;
  color: white;
  transition: 1s;
}

.deleteBtn:hover {
  background-color: black;
  color: white;
  transition: 1s;
}

/* post.css */
.main-logoson {
  width: 300px;
  margin-top: 20px;
  margin-left: 20px;
  margin-bottom: 20px;
  cursor: pointer;
}

.post-areason {
  background-color: lightsteelblue;
  width: 700px;
  margin: 0px auto;
  padding: 20px;
}

/* .photo-wrapson {
    background-color:white;
    margin: 20px;
    position:relative;
  } */

.photo-areason {
  width: 500px;
  height: 300px;
  overflow: hidden;
  margin: 0 auto;
  border: none;
  position: relative;
}
.photo-inputson {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* photo-post-area영역에 꽉 차면서 500*300 벗어나는 부분은 자동으로 자름 */

.plus-btnson {
  width: 50px;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  opacity: 0.5;
  background-color: white;
  padding: 10px;
}

.file-select-btnson {
  display: none;
}
.category-selectson {
  background-color: white;
  padding: 0px 10px 0px 10px;
  width: 500px;
  height: 40px;
  border-radius: 5px;

  margin-top: 50px;
  margin-bottom: 10px;
  border: none;
}
.title-boxson {
  width: 500px;
  height: 40px;
  border-radius: 5px;
  padding: 0px 10px 0px 10px;
  background-color: white;
  margin-top: 10px;
  margin-bottom: 10px;
  border: none;
}
.content-boxson {
  width: 500px;
  height: 100px;
  border-radius: 5px;
  padding: 0px 10px 0px 10px;
  background-color: white;
  resize: none;

  margin-top: 10px;
  margin-bottom: 10px;
  border: none;
  padding: 10px;
}
.hashtag-boxson {
  width: 500px;
  height: 30px;
  border-radius: 5px;
  padding: 0px 10px 0px 10px;
  background-color: white;
  margin-top: 10px;
  margin-bottom: 10px;
  border: none;
}
.post-btnson {
  width: 100px;
  height: 30px;
  border-radius: 5px;
  background-color: black;
  color: white;
  border: none;
  margin-top: 10px;
  margin-bottom: 10px;

  cursor: pointer;
}

/* profile.css */
* {
  font-family: "Jua", sans-serif;
}

.main-logoson {
  width: 300px;
  margin-top: 20px;
  margin-left: 20px;
  margin-bottom: 20px;
  cursor: pointer;
}

/*뒷배경 */
#profileAll {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  background: rgba(145, 138, 138, 0.8); /*배경색 넣는방법 */
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37); /*그림자 효과 넣는방법 */
  backdrop-filter: blur(2.5px); /*필터넣는방법 이거쓰시면 됩니다. */
  -webkit-backdrop-filter: blur(2.5px);
  border-radius: 10px; /*테두리 둥글게 하기 */
  border: 1px solid rgba(255, 255, 255, 0.18);
  /*테두리 두껍게 설정 */
}

/*프로필 관리창 */
.profileBox {
  border-radius: 10px;
  background-color: rgba(224, 220, 215, 0.911);
  box-shadow: 0 8px 32px 0 rgba(101, 104, 150, 0.37);
  border: 1px solid rgba(255, 255, 255, 0.18);
  width: 95%;
  max-width: 600px;
  height: 500px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#profileBtnEdit {
  cursor: pointer;
  background-color: transparent;

  font-size: 30px;
  padding: 15px 30px;
  background-color: white;
  color: rgb(209, 188, 188);

  border: none;
  border-radius: 30px;
  letter-spacing: 10px;

  margin-top: 20px;
  margin-bottom: 40px;
}

#profileBtnEdit:focus {
  outline: none;
}

#profileBtnEdit:hover {
  /*프로필 변경 버튼 호버*/
  background-color: rgb(209, 188, 188);
  color: white;
  transition: 1s;
}

#profileView {
  cursor: pointer;
  border-radius: 50%;
  object-fit: cover;
  width: 300px;
  height: 300px;
  margin-bottom: 30px;
}

.fa-xmark {
  position: relative;
  top: 25px;
  right: 15px;
}

#imgInput {
  display: none;
}

#profileNickname {
  /* bottom: 50px;
    right: 110px; */
  border: none;
  border-radius: 10px;
  padding: 13px;
  width: 200px;
  font-size: 20px;
  margin: 0 auto;
}

.close-kim {
  float: right;
  padding-right: 10px;
  cursor: pointer;
  text-shadow: 1px 1px 2px gray;
  color: black;
}

.nickEdit {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

i {
  font-size: 50px;
  cursor: pointer;
  color: rgb(253, 241, 241);
  transition: all;
  padding-left: 435px;
}

i:active {
  transform: translateY(10px);
}

/* loginmain.css */
* {
  font-family: "Roboto", sans-serif;
  font-family: "Jua", sans-serif;
  text-decoration: none;
}

/* 헤더 고정하기 */

a {
  text-decoration: none;
}

.main-logoson {
  width: 300px;
  cursor: pointer;
}

.headjeong {
  position: fixed;
  width: 100%;
  height: 100px;
  margin-top: 20px;
  margin-left: 20px;
  margin-bottom: 20px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.headcontainerjeong {
  align-items: center;
  display: flex;
  float: left;
}

.logbtnjeong {
  width: 130px;
  height: 45px;
  cursor: pointer;
  background-color: transparent;

  margin-right: 50px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  font-size: 15px;
  padding: 15px 20px;
  background-color: white;
  color: black;

  border: 2px solid black;
  border-radius: 30px;
  letter-spacing: 4px;
}

.logbtnjeong:focus {
  outline: none;
}

.logbtnjeong:hover {
  background-color: black;
  color: white;
}

/* 여기까지 헤드부분! */

* nav {
  margin-left: 30px;
  margin-top: 30px;
  font-size: 1.2rem;

  flex-direction: row;
  align-items: flex-start;
}

.navjeong {
  text-decoration: none;
  position: fixed;

  margin-top: 170px;

  color: black;

  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.workoutjeong,
.studyjeong,
.bookjeong {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* 카테고리 위치 */

/* 호버 선택자 묶어서는 적용이 안 되나 봅니다ㅠㅠ */
.allnavjeong :hover {
  text-shadow: 2px 2px 2px lightgray;
  cursor: pointer;
}
.recentjeong :hover {
  text-shadow: 2px 2px 2px lightgray;
  cursor: pointer;
}
#workoutys:hover {
  text-shadow: 2px 2px 2px lightgray;
  cursor: pointer;
}

#studyys:hover {
  text-shadow: 2px 2px 2px lightgray;
  cursor: pointer;
}
#bookys:hover {
  text-shadow: 2px 2px 2px lightgray;
  cursor: pointer;
}

.goToHome,
.goToMyPost {
  cursor: pointer;
  background-color: transparent;
  border: none;
  color: black;
  font-size: 35px;
  margin-left: 50px;
}

.workoutdescjeong,
.studydescjeong,
.bookdescjeong {
  margin-top: 10px;
  display: none;
}

/* 카테고리 선택 전에는 글자 안뜸 */

.workoutjeong:hover .workoutdescjeong {
  display: block;
  opacity: 50%;
}

.studyjeong:hover .studydescjeong {
  display: block;
  opacity: 50%;
}

.bookjeong:hover .bookdescjeong {
  display: block;
  opacity: 50%;
}

/* 글자뜨기 */

.allnavjeong > a {
  color: black;
}
.recentjeong > a {
  color: black;
}
/* 카테고리 폰트 컬러 검은색으로 */

#workoutys,
#studyys,
#bookys {
  color: black; /* 카테고리 폰트 컬러 검은색으로 */
  margin-left: 50px;
  margin-right: 50px;
}

.allnavjeong,
.recentjeong {
  display: flex;
  align-items: flex-start;
  margin-left: 50px;
  margin-right: 50px;
}

/* 카테고리 간격맞추기!!! */

/* 여기부터는 메인 */

.mainjeong {
  width: 100%;
  height: 100%;
}

.maincontainerjeong {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.postjeong {
  width: 300px;
  height: 400px;
  background-color: rgb(122, 202, 207);
  margin: 0 auto;
}

/* loginmain */

.usersall {
  width: 100px;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}

label .useryuns {
  width: 100%;
  height: 100%;
}

.useryuns img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.usersall label {
  cursor: pointer;
  position: fixed;
}

ul {
  list-style: none;
  padding: 0px;
  margin-right: 80px;
}

input#useridyuns {
  display: none;
}

nav#profilebtn {
  display: none;
}

input#useridyuns:checked + nav#profilebtn {
  display: block;
  margin-top: 180px;
}

#profilebtn a {
  text-decoration: none;
}

.fa-pen-to-square,
.fa-house-chimney {
  font-size: xx-large;
  margin-top: 10px;
}

/* login modal */

.modal-overlay {
  display: none;
}

/* login-menu */

.postcards {
  width: 95%;
  max-width: 800px;
  margin: 0 auto;
}

.postpic {
  border-radius: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

/*뒷배경 */
#profileAll {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  background: rgba(145, 138, 138, 0.8); /*배경색 넣는방법 */
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37); /*그림자 효과 넣는방법 */
  backdrop-filter: blur(2.5px); /*필터넣는방법 이거쓰시면 됩니다. */
  -webkit-backdrop-filter: blur(2.5px);
  border-radius: 10px; /*테두리 둥글게 하기 */
  border: 1px solid rgba(255, 255, 255, 0.18);
  /*테두리 두껍게 설정 */
}

/*프로필 관리창 */
.profileBox {
  border-radius: 10px;
  background-color: rgba(224, 220, 215, 0.911);
  box-shadow: 0 8px 32px 0 rgba(101, 104, 150, 0.37);
  border: 1px solid rgba(255, 255, 255, 0.18);
  width: 95%;
  max-width: 600px;
  height: 500px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#profileBtnEdit {
  cursor: pointer;
  background-color: transparent;

  font-size: 30px;
  padding: 15px 30px;
  background-color: white;
  color: rgb(209, 188, 188);

  border: none;
  border-radius: 30px;
  letter-spacing: 10px;

  margin-top: 20px;
  margin-bottom: 40px;
}

#profileBtnEdit:focus {
  outline: none;
}

#profileBtnEdit:hover {
  /*프로필 변경 버튼 호버*/
  background-color: rgb(209, 188, 188);
  color: white;
  transition: 1s;
}

#profileView {
  cursor: pointer;
  border-radius: 50%;
  object-fit: cover;
  width: 300px;
  height: 300px;
  margin-bottom: 30px;
}

.fa-xmark {
  position: relative;
  top: 25px;
  right: 15px;
  font-size: 50px;
  cursor: pointer;

  color: rgb(253, 241, 241);
  transition: all;
  padding-left: 435px;
}

.fa-xmark:active {
  transform: translateY(10px);
}

#imgInput {
  display: none;
}

#nickname {
  /* bottom: 50px;
    right: 110px; */
  border: none;
  border-radius: 10px;
  padding: 13px;
  width: 200px;
  font-size: 20px;
  margin: 0 auto;
}

.nickEdit {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
/* . {
    width: 100%;
    height: 100%;
    object-fit: cover;
  } */
