/* 로그인메인 css 시작입니다. */
a {
  text-decoration: none;
}

.main-logoson {
  width: 300px;
  cursor: pointer;
}

.headjeong {
  /* position: fixed; */
  /* 수정 position fixed 주석  */
  width: 100%;
  height: 100px;
  margin-top: 20px;
  margin-left: 20px;
  margin-bottom: 20px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.headcontainerjeong {
  align-items: center;
  display: flex;
  float: left;
  display: absolute;
  /* 수정 display absolute 추가 */
}

.logbtnjeong {
  width: 130px;
  height: 45px;
  cursor: pointer;
  background-color: transparent;

  margin-right: 50px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
/* main-page */
  font-size: 15px;
  padding: 15px 20px;
  background-color: white;
  color: black;

  border: 2px solid black;
  border-radius: 30px;
  letter-spacing: 4px;
}

.logbtnjeong:focus {
  outline: none;
}

.logbtnjeong:hover {
  background-color: black;
  color: white;
}

* nav {
  margin-left: 30px;
  margin-top: 30px;
  font-size: 1.2rem;

  flex-direction: row;
  align-items: flex-start;
}

.navjeong {
  text-decoration: none;
  /* position: fixed; */
  /* 수정 position fied 주석  */

  margin-top: 170px;

  color: black;

  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.workoutjeong,
.studyjeong,
.bookjeong {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* 카테고리 위치 */

/* 호버 선택자 묶어서는 적용이 안 되나 봅니다ㅠㅠ */
.allnavjeong :hover {
  text-shadow: 2px 2px 2px lightgray;
  cursor: pointer;
}
.recentjeong :hover {
  text-shadow: 2px 2px 2px lightgray;
  cursor: pointer;
}
#workoutys:hover {
  text-shadow: 2px 2px 2px lightgray;
  cursor: pointer;
}

#studyys:hover {
  text-shadow: 2px 2px 2px lightgray;
  cursor: pointer;
}
#bookys:hover {
  text-shadow: 2px 2px 2px lightgray;
  cursor: pointer;
}

.goToHome,
.goToMyPost {
  cursor: pointer;
  background-color: transparent;
  border: none;
  color: black;
  font-size: 35px;
  margin-left: 50px;
}

.workoutdescjeong,
.studydescjeong,
.bookdescjeong {
  margin-top: 10px;
  display: none;
}


.workoutjeong:hover .workoutdescjeong {
  display: block;
  opacity: 50%;
}

.studyjeong:hover .studydescjeong {
  display: block;
  opacity: 50%;
}

.bookjeong:hover .bookdescjeong {
  display: block;
  opacity: 50%;
}


.allnavjeong > a {
  color: black;
}
.recentjeong > a {
  color: black;
}


#workoutys,
#studyys,
#bookys {
  color: black; /* 카테고리 폰트 컬러 검은색으로 */
  margin-left: 50px;
  margin-right: 50px;
}

.allnavjeong,
.recentjeong {
  display: flex;
  align-items: flex-start;
  margin-left: 50px;
  margin-right: 50px;
}

/* 카테고리 간격맞추기!!! */


.usersall {
  width: 100px;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}

label .useryuns {
  width: 100%;
  height: 100%;
}

.useryuns img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.usersall label {
  cursor: pointer;
  /* position: fixed; */
  /* 수정 position: fixed 주석 */
}

ul {
  list-style: none;
  padding: 0px;
  margin-right: 80px;
}

input#useridyuns {
  display: none;
}

nav#profilebtn {
  display: none;
}

input#useridyuns:checked + nav#profilebtn {
  display: block;
  margin-top: 180px;
}

#profilebtn a {
  text-decoration: none;
}

.fa-pen-to-square,
.fa-house-chimney {
  font-size: xx-large;
  margin-top: 10px;
}


/* width : 95% */

#main-page {
  
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;

}